        /* -----LAYOUT----- */
      #frame-container-layout{
       display: flex;
       flex-direction: row;
       justify-content: center;
      }

        /* -----------------------frame creator----------------------- */
        #leftbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
            width: 25vw;
            height: 100vh;
            overflow-y: scroll;
            border: rgb(141, 128, 128) solid 3px;
            border-radius: 7px;
            background-color: rgb(10, 5, 5, .1);
          }
  
          #rightbar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 10px;
            align-items: center;
            width: 25vw;
            height: 100vh;
            /* padding-top:30px; */
            overflow-y: scroll;
            border: rgb(141, 128, 128) solid 3px;
            border-radius: 7px;
            background-color: rgb(10, 5, 5, .1);
          }
  
          .frame-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
  
          }
  
          #frame {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: relative;
            width: 50vw;
            height: 600px;
            border-top: 3px;
            border-left: 3px;
            border-right: 3px;
            border-style: solid;
            border-color: black;
            border-radius: 3px 3px 0px 0px;
            background-color: white;
            overflow-x: scroll;
          }
  
          .frame-bottom-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: white;
            height: 100px;
            width: 100%;
            border-right: black 3px solid;
            border-left: black 3px solid;
            border-bottom: black 3px solid;
            background-color: black;
          }
  
          .frame-counter {
            position: absolute;
            top: 0;
            text-align: left;
            width: 100%;
            color: white;
          }
  
          .smileButton {
            color: rgb(17, 14, 14);
            font-weight: bold;
            background-color: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            bottom: 0;
            box-shadow: white 0px 0px 0px 5px;
          }
  
          /* .avatar-container {
          display: flex;
          direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-content: center;
          position: relative;
          cursor: grabbing;
        } */
  
          .bride-Avatar {
            width: 160px;
            height: 280px;
            cursor: grabbing;
            flex-shrink: 3;
          }
  
          .flexshrink{
            display: flex;
            flex-shrink: 3;
            align-items: stretch;
            
          }
  
          .groom-Avatar {
            width: 120px;
            height: 290px;
            cursor: grabbing;
            flex-shrink: 3;
          }
  
          .guest-avatars {
            position: relative;
            cursor: grabbing;
            z-index: 10;
            flex-shrink: 3;
          }
  
          .guest-avatars-kids {
            position: relative;
            cursor: grabbing;
            z-index: 10;
            width: 65px;
            height: 110px;
            flex-shrink: 3;
          }
  
          .kb {
            font-size: 100px;
            color: rgba(35, 35, 218, 0.911);
            cursor: grabbing;
          }
  
          .kg {
            font-size: 100px;
            color: rgb(233, 151, 165);
            cursor: grabbing;
          }
  
          #bride-info {
            position: absolute;
            color: white;
            width: 25%;
            padding: 5px;
            bottom: 10px;
            text-align: center;
            z-index: 5;
          }
  
          .GroomInfo {
            position: absolute;
            font-size: .1em;
            top: 50%;
            left: 5%;
            z-index: 4;
            color: white;
          }
  
          #male-AvatarR {
            width: 115px;
            height: 270px;
          }
  
          #female-AvatarR {
            width: 115px;
            height: 270px;
          }
  
  
  
          .instructions>p {
            color: rgb(39, 36, 36);
            margin-top: 5px;
            margin-left: auto;
            text-align: justify;
            text-indent: 7px;
          }
  
          #info{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-size: x-small;
          }

