

body {
  background-image: url("/Users/darielmera/Code/IP-api/ip-react/ip-shoot-react/src/svg/Weddings-59.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

/* ---------------HeaderHome--------------------- */
.nameLogoSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.home--header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 15px;
    /* background-color:rgb(170, 175, 175, .0); */
}

.txtIP {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    text-shadow: 3px 0px 10px rgb(95, 90, 90);
    

}

.txtIP-slogan {
    font-family: 'Comforter Brush', cursive;
    font-size: 1.5em;
}




/* ---------------AppPurpose--------------------- */
.appPurpose {
    color: rgb(31, 29, 29);
    background-color: #f8de49;
    padding:4px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: .8em;
    margin-bottom: 14px;
    padding: 14px;
}

/* ---------------BenefitsOfApp------------------ */
.marketing {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 100px;
}

.center-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.marketing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 20%;
    padding: 30px;
    font-size: 1.2em;
}

.marketing-container,
ul {
    list-style: none;
}

.marketing-container-left {
    border-top: 1px solid black;
    border-right: 0px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.marketing-container-right {
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0px;
    /* background-color: rgb(170, 175, 175, .1); */
}

ul>li {
    background-color: rgba(189, 182, 182, 0.1);
    padding: 45px;
    border-radius: 8px;
    box-shadow: black 2px 2px 2px 1px;
}
ul>li:hover {
    text-shadow: 3px 10px 10px #AD8A21;
    background-color: #f5efefcf;
    box-shadow: #AD8A21 2px 2px 2px 1px;
}


/* ---------------TryAppButton------------------- */
.tryitnow {
    animation: growRectangle 6s 1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
}

/*------TryAppButton-Animation-------*/

    @keyframes growRectangle {
    from {
        width: 0px;
        height: 0px;
        color: rgba(0, 0, 0, 0);
        font-size: 0em;
        padding: 0px;
        margin: 0px;
        border: solid 0px rgb(0, 0, 0);
        border-radius: 0px 0px 0px 0px;
        opacity: 0;
    }
    
    to {    
        width: 250px;
        height: 80px;
        color: rgba(0, 0, 0, 1);
        font-size: 2em;
        padding: 14px;
        margin: 15px;
        cursor: pointer;
        border: solid 3px rgb(0, 0, 0, 1);
        border-radius: 14px 0 14px 0;
        opacity: 1;
    }
}

.tryitnow:hover {
    background-color: white;  
}
    


/* ---------------UserLoginSignin---------------- */
.logUserIcon {
    font-size: .7em;
    row-gap: 5px;
    /* margin-right: 20px; */
}

.signin {
    font-size: .7em;
}

.nameLogoSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}


.center-elements-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------RESPONSIVENESS---------------------- */
@media only screen and (max-width: 1000px) {
    .marketing-container {
        flex-direction: row;
        justify-content: center;
        font-size: 1em;
        height: 300px;
        width: 60%;
    }

    .marketing-container-left {
        border: 0px;
    }

    .marketing-container-right {
        border: 0px;
    }

    ul>li:nth-child(odd) {
        padding: 15px;
        width: 50vw;
    }
}
