.footer-container {
    /* grid-area: footer; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    font-family: monospace;
    font-size: .9em;
    height: 50px;
    width: 100%;
    border-top: 2px dotted black;
    background-color: white;
    position: absolute;
    bottom: 0;
    position: fixed;
  }

  .footer-container, a {
    text-decoration: none;
  }

  .organizations-logos{
    width: 15%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    

  }

  @media only screen and (max-width: 720px) {
    .footer-container {
      flex-direction: column;
    }
    .organizations-logos{
      width: 22%;
    }
  
  }
