.container {
  display: grid;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "navbar navbar navbar navbar"
    "main main main main"
    "footer footer footer footer";
}

.header {
  grid-area: header;
}

.navbar{
  grid-area: navbar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

