/* body {
    background-image: url("assets/svg/dmeraphotographycard.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

  .frame-photographer-view {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    position: relative;
    width: 75vw;
    height: 600px;
    border-top:3px;
    border-left:3px;
    border-right:3px;
    border-style: solid;
    border-color:black;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    overflow-x: scroll;
    margin: 35px;
  }

  .childrens-of-frame {
    display:inline-flex; 
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px 20px 40px 20px;

  }
  
  .avatar-presentation-photographer-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    text-align: center;
  }
  
  .info-style-photographer-view {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size:.7em;
    border-right:2px rgb(177, 171, 171) solid;
    border-left:2px rgb(177, 171, 171) solid;
    padding: 5px;
    border-radius: 8px 8px 8px 8px;
  }
  
  .frame-bottom-container-photographer-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0px;
    font-size: 1.5em;
    color: white;
    height: 100px;
    width: 100%;
    border-right: white 3px solid;
    border-left: white 3px solid;
    border-bottom: white 3px solid;
    background-color: black;
  }

  .frame-counter-photographer-view  {
    position: absolute;
    bottom:0;
    text-align: left;
    width: 100%;
    color: white;
    font-size: medium;
  }

  .txtNice{
    display: flex;
    flex-direction: column;
    font-size: x-small;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightgray;
    opacity: .9;
  }

  @media only screen and (max-width: 1200px) { 

    img[alt="bride avatar"] {
     width: 10.5vw
   }
    img[alt="Girl avatar"] {
     width: 4vw
   }
    img[alt="Boy avatar"] {
     width: 4vw
   }
    .groupOfImages {
      width: 8vw;
      margin:0;
   } 


  }
    
    

  @media only screen and (max-width: 1050px) {

    .groupOfImages {
      width: 5vw;
      margin-bottom:20px;
      writing-mode: vertical-lr
   }

   img[alt="bride avatar"] {
    width: 6.5vw
  }

   .info-style-photographer-view {
    writing-mode: vertical-lr
  }

  }
   
  @media only screen and (max-width: 600px) {
    .childrens-of-frame{
      margin: 18px 0px 40px 15px
    }

    .info-style-photographer-view {
      border-left: 0; 
      border-radius: 0;
  }
  
  }