<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
#colbata{
    background-color: red;
}
    img {
        /* padding: 14px; */
        border-radius: 8px;
        border: 2px solid brown;
    }

</style>


</head>

<body>
    <h2>Resized Images</h2>
    
    <img 
    draggable="true"
    src="boy.svg" 
    alt="img"
    />

    <img 
    src="girl.svg" 
    alt="img"
    />

    <img 
    src="female.svg" 
    alt="img"
    />
    
    <img 
    class="groom"
    src="groom.png" 
    alt="img" 
    />
    <img 
    class="groom"
    src="bride.png" 
    alt="img" 
    />
    <img 
    class="groom"
    src="male.png" 
    alt="img" 
    />

      

</body>

</html>